<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SDFaPP.Properties.Settings.Database2ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database2.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>